<div>
    <md-toolbar class="md-hue-2">   
        <div class="md-toolbar-tools">
            <span>Sago Mini homework</span>
        </div>
    </md-toolbar>
    <md-card>
        <md-content>
            <md-tabs>
                <md-tab label="Find">
                    <find-build></find-build>
                </md-tab>
                <md-tab label="Bump">
                    <bump-build></bump-build>
                </md-tab>
                <md-tab label="Force">
                    <force-build></force-build>
                </md-tab>
            </md-tabs>
        </md-content>
    </md-card>
</div>