<md-content layout-padding name="forceForm">
    <form ng-submit="forceCtrl.forceBuild()">
        <div layout="row">
            <md-input-container flex>
                <label>Enter Build Identifier</label>
                <input ng-model="forceCtrl.buildId" name="buildId" type="text" required flex>
            </md-input-container>
            <md-input-container flex>
                <label>Enter new build number</label>
                <input ng-model="forceCtrl.buildNumber" name="buildId" type="number" required flex>
            </md-input-container>
        </div>
        <div layout="row">
            <span flex>
                <span ng-if="forceCtrl.build">Application Build Number: {{ forceCtrl.build.buildNumber}}</span>
            </span>
            <md-button class="md-primary" type="submit">
                Force Build number
            </md-button>
        </div>
    </form>
</md-content>   